body {
  font-family: Arial, sans-serif; /* Uses Arial unless its not found then default sans-serif*/
  margin: 0; /*margin of 0 filling the screen*/
  padding: 0; /*Removes the default padding which is space around an element*/
  text-align: center; /* aligns the text*/
  background-color: #f4f4f4; /* light grey*/
}

header {
  background-color: #4CAF50; /* green */
  color: white; /* text color to white */
  padding: 1em; /* even space around element*/
}

nav {
    margin: 20px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #4CAF50;
}

nav a:hover {
    text-decoration: underline;
}

main {
padding: 2em;
}

button {
padding: 10px 20px;
  font-szie: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px; /* Gives it a curved edge look */
  margin: 20px 0;
}

button:hover {
  background-color: #45a049;
}

#myImage {
  width: 300px;
  height: auto; /* Adjusts the height to maintain the aspect ratio */
  border: 2px solid #4CAF50; /* Green Border */
  border-radius: 10px; /* rounds corners */
  margin: 20px 0; /* vertical margin around image */
}

#boidsImage {
  width: 600px;
  height: auto; /* Adjusts the height to maintain the aspect ratio */
  border: 2px solid #4CAF50; /* Green Border */
  border-radius: 10px; /* rounds corners */
  margin: 20px 0; /* vertical margin around image */
}
